*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 전역 css 변수 */
:root {
  --color-dark: black;
  --color-light: white;
  --background: white;
  --text-color: black;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
}

body[data-theme="light"] {
  background-color: var(--color-light);
  color: var(--color-dark);
  --background: var(--color-light);
  --text-color: var(--color-dark);
}
body[data-theme="dark"] {
  background-color: var(--color-dark);
  color: var(--color-light);
  --background: var(--color-dark);
  --text-color: var(--color-light);
}

.SearchResult {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 10px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ImageInfo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .content-wrapper {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--background);
  color: var(--text-color);
}

.ImageInfo .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ImageInfo img {
  width: 300px;
}

@media (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

/* default dark mode */
@media (prefer-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
